<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page 4</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <style>
        .col-2 {
            color: #dee2e6;
            background-color: #212529;
            padding-bottom: 780px;
        }
        .menu_points {
            color: #dee2e6;
            background-color: #212529;
            padding-top: 15px
        }
        .account {
            border: none;
            color: white;
            padding-top: 610px
        }
        .dropdown-menu {
            background-color: #495057
        }
        .dropdown-item {
            color: #dee2e6
        }
        .main_info {
            text-align: center;
            padding-top: 100px
        }
        .card_name {
            padding-top : 15px;
            background-color: grey
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-2">
        <img class="menu_image" src="images/Bootstrap_logo.svg.png" width="50" height="40"/>
        Меню
        <hr>
        <div class='menu_points' style="background-color: blue">
            <img src="images/i.jpg" width="30" height="25"/>
            Главная
        </div>
        <div class='menu_points'>
            <img src="images/i(1).jpg" width="30" height="25"/>
            Категории
        </div>
        <div class='menu_points'>
            <img src="images/i(2).jpg" width="30" height="25"/>
            Заказы
        </div>
        <div class='menu_points'>
            <img src="images/i(3).png" width="30" height="30"/>
            Контакты
        </div>
        <div class="account">
            <hr>
            <img src="images/i(4).jpg" width="45" height="40"/>
            <button class="btn btn-empty dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    style="color: #dee2e6; font-weight: bold">
                Пользователь
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Профиль</a></li>
                <li><a class="dropdown-item" href="#">Выход</a></li>
            </ul>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
        <div class="main_info">
            <h1>Контакты</h1>
        </div>
        <div class="row" style="gap: 120px">
            <div class="card" style="width: 30rem; margin-top: 70px; padding-bottom:20px">
                <div class="col-4">
                    <div style="width: 450px">
                        <label for="formGroupExampleInput" class="form-label" style="padding-top: 15px">Имя</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    <div style="width: 450px">
                        <label for="formGroupExampleInput2" class="form-label">Почта</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="text" class="form-control" id="formGroupExampleInput2">
                        </div>
                    </div>
                    <div style="width: 450px">
                        <label for="formGroupExampleInput3" class="form-label"
                               style="margin-top: 10px">Сообщение</label>
                        <div class="input-group">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 100px"></textarea>
                            <label for="floatingTextarea2" class="form-label"></label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 15px">Отправить</button>
                </div>
            </div>
            <div class="col-4" style="margin-top: 70px">
                <h3>Наши контакты</h3>
                Звезды отражались в её глазах. Раньше, еще месяц назад их не было видно в черте города. Свет фонарей и
                смог заглушали их слабое мерцание. Все изменилось. И одним из немногих плюсов сложившейся ситуации было
                мерцание звезд в её глазах, и воздух, кажется стал чище. У всех у нас когда то была работа, и был дом. У
                некоторых были дети. У Лены была дочка. Она работала барменшой, а по вечерам подрабатывала в
                "клубе знакомств".
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js">
</script>
</body>
</html>